  .bloqueImpar {
  background-color: #f4f4f4; /* Color gris claro al 10% */
  padding: 2rem;
  }

  .bloquePar {
  background-color: #e6e6e6; /* Color gris claro al 50% */
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
  overflow: hidden;
  }

/* --------------------------------------------------------------------------------- */

/* Contenedor 1 */
  .primerBloqueContenedor1 section{
  padding: 1rem;
  }

  .tituloPrimerBloque{
  color: #617eab; /* Color azul al 100% */
  }

  .lineaPrimerBloque{
  margin: auto;
  color: #606060; /* Color gris oscuro al 100% */
  width: 30%;
  margin-left: 0%;
  }

  .primerBloqueContenedor1 p{
  color: #606060; /* Color gris oscuro al 100% */
  padding-bottom: 1rem;
  }

/* --------------------------------------------------------------------------------- */

/* Formulario de Contacto */
  .formulario input {
  background: none;
  border: 0;
  transition: all .3s;
  border-bottom: 1px solid #e6e6e6; /* Gris claro al 50% */
  border-radius: 0%;
  }

  .formulario input:focus {
  background-color: #f4f4f4; /* Color gris claro al 10% */
  border-color: #c9c9c9; /* Color Gris Oscuro al 30% */
  box-shadow: none;
  }

  .formulario textarea{
  background-color: #f4f4f4; /* Color gris claro al 10% */
  border-color: #c9c9c9; /* Color Gris Oscuro al 30% */
  }

  .formulario textarea:focus{
  box-shadow: none;
  border-color: #c9c9c9; /* Color Gris Oscuro al 30% */
  background-color: #ededed; /* Color gris claro al 30% */
  }

  .btn-secondary{ /* Edite la clase de Bootstrap */
  background-color: #617eab; /* Color azul al 100% */
  color: #f4f4f4; /* Color gris claro al 10% */
  font-weight: 500;
  }

  .btn-secondary:hover{
  background-color: #606060; /* Color gris oscuro al 100% */
  color: #f4f4f4; /* Color gris claro al 10% */
  font-weight: 500;
  }

/* --------------------------------------------------------------------------------- */

/* Contenedor 2 */
  .primerBloqueContenedor2{
  background-color: #7f96ba; /* Color azul al 80% */
  padding: 2rem;
  position: absolute;
  margin-top: 10vh;
  margin-left: 60vw;
  width: auto;
  }

  .primerBloqueContenedor2 h4{
  color: #f4f4f4; /* Color gris claro al 10% */
  }

  .textoSpan{
  font-weight: bold;
  }

  .primerBloqueContenedor2 p{
  color: #f4f4f4; /* Color gris claro al 10% */
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0%;
  }

  .primerBloqueContenedor2SegundoTexto{
  display: inline-block;
  margin-left: 0.5vw;
  }

  .primerBloqueContenedor2SegundoTexto a{
  color: #f4f4f4; /* Color gris claro al 10% */
  text-decoration: none;
  }

  .primerBloqueContenedor2 svg{
  color: #f4f4f4; /* Color gris claro al 10% */
  margin-right: 1rem;
  }

  .lineaBloqueContenedor2{
  margin: auto;
  color: #f4f4f4; /* Color gris claro al 10% */
  width: 100%;
  margin-left: 0%;
  border-width: 1.6px;
  }

  .divBloqueContenedor2{
  margin-bottom: 3vh;
  }

  @media (max-width: 767px) {
    .primerBloqueContenedor2 {
      margin-top: 65vh;
      margin-right: 2vh;
      max-width: 100%; /* Asegura que el contenido no exceda el ancho de la pantalla */
      margin: 5vh auto 2rem auto; /* Margen vertical ajustado y margen horizontal centrado */
      position: relative;
      }

      .lineaPrimerBloque{
        width: 50%;
      }

      .botonFormulario{
        justify-content: end;
      }

      .bloqueImpar{
        padding: 1rem;
      }
    }

/* --------------------------------------------------------------------------------- */

/* Contenedor 3 */
  .primerBloqueUltimaColumna{
  background-color: #e6e6e6; /* Color gris claro al 50% */
  }


  /* Segundo Bloque de Contenido */
  .map-responsive iframe{
  width:100%;
  }

/* --------------------------------------------------------------------------------- */