/* Primer Bloque */
 .primerBloque {
  padding-bottom: 3rem;
 }

 .primerBloque h3 {
  margin-top: 2rem;
  text-align: center;
 }

 .primerBloqueLinea {
  margin: auto;
  width: 12rem;
  margin-bottom: 2rem;
 }

/* --------------------------------------------------------------------------------- */

/* Tarjetas Equipo */
 .containerCard { /* Contenedor de todas las cards de cada integrante */
  width: 300px;
  margin-left: 2%;
  margin-right: 2%;
 }

 .containerCardVacias{
  width: auto;
 }
 
 .cardPadre { /* Contenedor padre de cada tarjeta de cada integrante */
  margin-bottom: 3rem;
  perspective: 1000px;
 }

 .cardPadre:hover .tarjeta { /* Rotacion del contenedor padre de cada tarjeta de cada integrante */
  transform: rotateY(180deg);
 }

 .tarjeta { /* Contenedor hijo de cada padre de cada tarjeta de cada integrante */
  width: 300px; /* Ancho de cada integrante */
  height: 300px; /* Alto de cada integrante */
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
 }

 .cardFrente { /* Frente de cada tarjeta de cada integrante (Contenedor) */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden; /* La cara de atras no se muestra */
  transform-style: preserve-3d; /* Hace que el movimiento se vea en 3D */
  border-radius: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 5px 15px #9c9c9c;
 }

 .cardFrenteBody { /* Frente de cada tarjeta de cada integrante (Cuerpo) */
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(60px); /* Se mueve en el eje Z. Es para que el texto se despegue y no quede plano */
 }

 .cardFondo { /* Fondo de cada tarjeta de cada integrante (Contenedor) */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden; /* La cara de atras no se muestra */
  transform-style: preserve-3d; /* Hace que el movimiento se vea en 3D */
  border-radius: 1000px;
  transform: rotateY(180deg);
  box-shadow: 2px 5px 15px #9c9c9c;
 }
 
 .cardFondoBody { /* Fondo de cada tarjeta de cada integrante (Cuerpo) */
  text-align: center;
  padding: 15%;
  transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .cardFondoBodyLinea { /* Línea del fondo de la tarjeta */
  margin: 0%;
  width: 8rem;
  margin-bottom: 1rem;
 }

 .bg { /* Fondo de la tarjeta integrante */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1000px;
 }

 .cardFondoButton { /* Boton del parrafo del fondo de la tarjeta */
  width: 300px;
  margin-top: 3vh;
  transform-style: preserve-3d;
 }

 .cardFondo button {
  padding: 7px 10px;
  font-size: 1rem;
  border-radius: 30px;
  transform: translateZ(60px); /* Se mueve en el eje Z. Es para que el texto se despegue y no quede plano */
  text-decoration: none;
  margin-left: 2%;
  justify-content: center;
  text-align: center;
 }

 .modal-content { /* Modal Padre */
  border: none !important;
  border-radius: 0.375rem;
 }

 .modal-title { /* Modal Titulo */
  font-weight: 600;
 }

/* --------------------------------------------------------------------------------- */