/*Colores Formaciones*/
/* Verde: #63a98f */
/* Violeta: #9462a1 */
/* Rojo: #9b6268 */
/* Dorado: #a09462 */

/* --------------------------------------------------------------------------------- */

/* General */
  * {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  }

/* --------------------------------------------------------------------------------- */

/* Fondos */
  .fondoAzul-100percent {
    background-color: #617eab;
  }

  .fondoAzul-80percent {
    background-color: #7f96ba;
  }

  .fondoGrisClaro-50percent {
    background-color: #e6e6e6;
  }

  .fondoGrisClaro-10percent {
    background-color: #f4f4f4;
  }

  .fondoGris-100percent {
    background-color: #606060;
  }

  .fondoGris-60percent {
    background-color: #9c9c9c;
  }

 .fondoVioleta-100percent { /* MasterClass */
   background-color: #7062a4;
 }

 .fondoVerde-100percent { /* Curso Inicial */
   background-color: #63a98f;
 }

 .fondoDorado-100percent {
   background-color: #a09462;
 }
/* --------------------------------------------------------------------------------- */

/* Textos */
  .textoAzul-100percent {
    color: #617eab;
  }

  .textoGris-100percent {
    color: #606060;
  }

  .textoGrisClaro-10percent {
    color: #f4f4f4;
  }

  .textoVioleta-100percent {
    color: #7162a5;
  }

  .textoVerde-100percent {
    color: #63a98f;
  }

  .textoDorado-100percent {
    color: #a09462;
  }

/* --------------------------------------------------------------------------------- */

/* Botones */
  .botonAzul-100percent {
    background-color: #617eab;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px -2px #9c9c9c;
    transition: box-shadow 600ms, background-color 600ms;
  }

  .hoverBotonAzul-100percent button:hover {
    background-color: #ababab; /* Color gris oscuro al 50% */
    color: #f4f4f4;
    box-shadow: 1px 1px 15px -2px #9c9c9c;
  }

  .botonVioleta-100percent {
    background-color: #7162a5;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px -2px #9c9c9c;
    transition: box-shadow 600ms, background-color 600ms;
  }

  .hoverBotonVioleta-100percent button:hover {
    background-color: #ababab; /* Color gris oscuro al 50% */
    color: #f4f4f4;
    box-shadow: 1px 1px 15px -2px #9c9c9c;
  }

  .botonVerde-100percent {
    background-color: #63a98f;
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 10px -2px #9c9c9c;
    transition: box-shadow 600ms, background-color 600ms;
  }

  .hoverBotonVerde-100percent button:hover {
    background-color: #ababab; /* Color gris oscuro al 50% */
    color: #f4f4f4;
    box-shadow: 1px 1px 15px -2px #9c9c9c;
  }

/* --------------------------------------------------------------------------------- */

/* Línea Divisoria */
  .lineaGris-100percent {
    color: #606060;
    opacity: 0.2;
  }

/* --------------------------------------------------------------------------------- */

/* Barra de Navegacion */
  .navBar { /* Edite las clases por defecto de Boostrap */
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #f4f4f4;
  }

  .dropdown-item {
    color: #7f96ba;
    font-weight: 500;
  }

  .dropdown-item:hover {
    background-color: #7f96ba;
    color: #f4f4f4;
  }

  .dropdown:hover>.dropdown-menu { /* Accion para que al pasar el mouse se abra el menu */
    display: block;
  }

  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }

  #logo-image-large { /* Estilos para el logo en pantallas grandes (por defecto) */
    display: inline-block;
  }

  #logo-image-small { /* Estilos para el logo en pantallas pequeñas (tablet o celular) */
    display: none;
  }

  /* Media Query */
  @media (max-width: 768px) {

    #logo-image-large { /* Oculta el logo grande en pantallas pequeñas */
      display: none;
    }

    #logo-image-small { /* Muestra el logo pequeño en pantallas pequeñas */
      display: inline-block;
    }
  }

/* --------------------------------------------------------------------------------- */

/* Footer */
  .footerRRSS1 {
    align-self: center;
  }

  .footerRRSS2 {
    justify-content: center;
  }

  .footerTexto {
    margin-top: 4vh;
  }

  .svg-container { /* CSS para el contenedor del svg */
    display: inline-block;
  }

  @keyframes bounce-in { /* CSS para la animación de bounce-in */

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }
  }

  .hoverable:hover .svg-container { /* CSS para aplicar la animación al contenedor del svg */
    animation: bounce-in 1s infinite;
  }

  .footerRRSS2 .hoverable { /* CSS para agregar espacio entre los íconos */
    margin-right: 10px;
  }

  /* Media Query */
  @media (max-width: 767px) {
    .footerRRSS2 .hoverable {
      margin-bottom: 10px;
      margin-right: 3000;
    }
  }

/* --------------------------------------------------------------------------------- */

/* Botón Youtube */
  #youtube-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #FF0000;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #youtube-btn:hover {
    background-color: #f4f4f4;
  }

  #youtube-btn svg {
    fill: #f4f4f4;
    transition: fill 0.3s ease;
  }

  #youtube-btn:hover svg {
    fill: #ff0000;
  }

  /* Media Query */
  @media (max-width: 767px) {
    #youtube-btn {
      bottom: 4rem;
    }
  }

/* --------------------------------------------------------------------------------- */