/* Colores */
/* Azul 100%: #617eab (Títulos) */
/* Azul 80%: #7f96ba (Subtítulos) */
/* Gris Oscuro 100%: #606060 (Textos) */
/* Gris Claro 10%: #f4f4f4 (Fondos) */
/* Gris Claro 50%: #e6e6e6 (Fondos) */
/* Gris Oscuro 50%: #ababab (Botones Hover) */

/*Colores Formaciones*/
/* Verde: #63a98f */
/* Violeta: #9462a1 */
/* Rojo: #9b6268 */
/* Dorado: #a09462 */

/* --------------------------------------------------------------------------------- */

/* General */
  * {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  }

  /* Fondos */
  .fondoAzul-100percent{
    background-color: #617eab;
  }

  .fondoAzul-80percent{
    background-color: #7f96ba;
  }

  .fondoGris-50percent{
    background-color: #e6e6e6;
  }

  .fondoGris-10percent{
    background-color: #f4f4f4;
  }

  /* Títulos, Subtítulos, Textos */
  .tituloAzul-100percent{
    color: #617eab;
    font-weight: 500;
  }

  .subtituloAzul-100percent{
    color: #617eab;
    font-weight: 400;
  }

  .tituloGris-100percent{
    color: #606060;
    font-weight: 500;
  }

  .subtituloGris-100percent{
    color: #606060;
    font-weight: 400;
  }

  .tituloGrisClaro-10percent{
    color: #f4f4f4;
    font-weight: 500;
  }

  .textoGris-100percent{
    color: #606060;
    font-weight: 400;
  }

  .textoGris-60percent{
    color: #9c9c9c;
    font-weight: 400;
  }

    /* Botones */
  .botonAzul-100percent{
    background-color: #617eab;
    color: #f4f4f4; 
    border: none;
    cursor: pointer;
  }

  .hoverBotonAzul-100percent button:hover {
    background-color: #606060;
    color: #f4f4f4;
 }


/* --------------------------------------------------------------------------------- */

/* Barra de Navegacion */
  .barraNavegacion {
  padding-top: 0 !important; /* Edite la clase por defecto de Boostrap */
  padding-bottom: 0 !important; /* Edite la clase por defecto de Boostrap */
  }

  .nav-link:hover,
  .nav-link:focus { /* Color de letra del título al pasar el mouse */
  color: #f4f4f4; /* Color gris claro al 10% */
  }

  .dropdown-item { /* Texto de cada lista desplegable */
  color: #7f96ba; /* Color azul al 80% */
  font-weight: 500;
  }

  .dropdown-item:hover {
  background-color: #7f96ba; /* Color azul al 80% */
  color: #f4f4f4; /* Color gris claro al 10% */
  }

  .dropdown:hover>.dropdown-menu { /* Accion para que al pasar el mouse se abra el menu */
  display: block;
  }

  .dropdown>.dropdown-toggle:active { /* Accion para que al pasar el mouse se abra el menu */
  pointer-events: none;
  }

  /* Estilos para el logo en pantallas grandes (por defecto) */
  #logo-image-large {
    display: inline-block; /* Muestra el logo en línea */
  }

  /* Estilos para el logo en pantallas pequeñas (tablet o celular) */
  #logo-image-small {
    display: none; /* Oculta el logo en pantallas pequeñas */
  }

  /* Media query para pantallas con un ancho máximo de 768px (tabletas y dispositivos móviles) */
  @media (max-width: 768px) {
    /* Oculta el logo grande en pantallas pequeñas */
    #logo-image-large {
      display: none;
    }

    /* Muestra el logo pequeño en pantallas pequeñas */
    #logo-image-small {
      display: inline-block;
    }
  }

/* --------------------------------------------------------------------------------- */

/* Footer */
  .footerTextoRRSS {
  align-self: center;
  }

  .footerRRSS2{
  justify-content: center;
  }

  .footerTexto{
  margin-top: 4vh;
  }

  /* CSS para el contenedor del svg */
  .svg-container {
  display: inline-block;
  }

  /* CSS para la animación de bounce-in */
  @keyframes bounce-in {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  }

  /* CSS para aplicar la animación al contenedor del svg */
  .hoverable:hover .svg-container {
  animation: bounce-in 1s infinite;
  }

  /* CSS para agregar espacio entre los íconos */
  .footerRRSS2 .hoverable {
    margin-right: 10px; /* Ajusta el valor según el espacio deseado entre los íconos */
  }

  /* Media query para aplicar el espacio solo en pantallas de celular y tablet */
  @media (max-width: 767px) {
    .footerRRSS2 .hoverable {
      margin-bottom: 10px; /* Agrega espacio entre filas si lo deseas */
      margin-right: 3000; /* Elimina el espacio entre íconos en pantallas más pequeñas */
    }
  }

/* --------------------------------------------------------------------------------- */