/* Primer Bloque */
   .primerBloque {
    background-color: #fbfbfb; /* Color gris claro al 10% */
    min-height: 400px;
    align-items: center;
    display: grid;
   }

   .primerBloqueContenedor1 {
    align-self: center;
    text-align: center;
   }

   .tituloPrimerBloque{
    color: #617eab; /* Color azul al 100% */
    font-weight: 500;
   }

   .subTituloPrimerBloque{
    color: #8198bc; /* Color azul al 80% */
    font-weight: 400;
   }

   /* Rectángulo con el título */
   .accordion-item{
    border: none;
    background-color: #fbfbfb; /* Color gris claro al 10% */
   }

   /* Rectángulo con el título al desplegarse */
   .accordion-header{ 
    background-color: #fbfbfb; /* Color gris claro al 10% */
   }

   /* La caja de cada texto Acordión */
   .botonesPrimerBloque{
    background-color: #fbfbfb; /* Color gris claro al 10% */
    color: #617eab; /* Color azul al 100% */
    box-shadow: none;
    font-weight: 500;
   }

   /* Cuerpo del Acordión al desplegarse */
   .botonesDropPrimerBloque{
    background-color: transparent; /* Color gris claro al 20% */
    color: #606060; /* Color gris oscuro al 100% */
   }

   /* Caja de cada título del acordión al no estar colapsada */
   .accordion-button:not(.collapsed){
    color: #606060; /* Color gris oscuro al 100% */
    background-color: #c0cbdd; /* Color azul al 40% */
    font-weight: 500;
   }

   /* Caja de cada título del acordión luego de haberla colapsado de nuevo */
   .accordion-button:focus{
    box-shadow: none;
   }

   .acordionLinea{
    margin: auto;
    color: #606060; /* Color gris oscuro al 100% */
    opacity: 0.5;
    width: 100%;
    margin-left: 0%;
   }

/* Segundo Bloque */
   .segundoBloque {
    background-color: #eaeaea; /* Color gris claro al 50% */
   }

   .segundoBloqueContenedor1 {
    padding: 1rem;
   }

   .segundoBloqueContenedor2 {
    align-self: center;
   }

   .tituloSegundoBloque{
    color: #617eab; /* Color azul al 100% */
    font-weight: 500;
   }

   .subTituloSegundoBloque{
    color: #8198bc; /* Color azul al 80% */
    font-weight: 400;
   }

   .parrafoSegundoBloque{
    font-weight: 400; /* Gris oscuro al 100 */
    color: #606060;
   }

   .lineaDivisoriaSegundoBloque{
    color: #606060; /* Gris oscuro al 100% */
    width: 50%;
   }

/* Tercer Bloque */
   .tercerBloque {
    background-color: #fbfbfb; /* Color gris claro al 10% */
   }

   .tituloTercerBloque{
    color: #617eab; /* Color azul al 100% */
   }

   .parrafoTestimonial{
    margin-bottom: 0.5rem;
    text-align: center;
    color: #606060; /* Gris oscuro al 100% */
   }

   .lineaDivisoriaTestimonial{
    color: #606060; /* Gris oscuro al 100% */
    width: 20%;
    display: inline-block;
    margin-bottom: 3rem;
   }

   .nombreTestimonio{
    color: #a0a0a0; /* Gris oscuro al 60% */
    text-align: right;
   }

   .localidadTestimonio{
    color: #a0a0a0; /* Gris oscuro al 60% */
    text-align: right;
   }