/* Primer Bloque */
   .primerBloque {
    min-height: 400px;
    align-items: center;
    display: grid;
   }

   .primerBloqueContenedor1 {
    align-self: center;
    text-align: center;
   }

   .primerBloqueContenedor1 h1{
      font-weight: 500;
   }

   .primerBloqueContenedor1 h4{
      font-weight: 400;
   }

   .primerBloqueContenedor1 h3{
      font-weight: 400;
   }

   .accordion-item{ /* La caja de cada texto Acordión */
    border: none;
   }
   
   .accordion-button:not(.collapsed){ /* Caja de cada título del acordión al no estar colapsada */
    color: #606060; /* Color gris oscuro al 100% */
    background-color: #e6e6e6; /* Color gris claro al 50% */
    font-weight: 500;
   }

   .accordion-button:focus{ /* Caja de cada título del acordión luego de haberla colapsado de nuevo */
    box-shadow: none;
   }

   .acordionLinea{
    margin: auto;
    opacity: 0.2;
    width: 100%;
    margin-left: 0%;
   }

   .botonAcordion{ /* Botón + Info */
      border: none;
   }

   .botonAcordion a{
      text-decoration: none;
      color: inherit;
   }

   /* Media Query */
   @media screen and (max-width: 991px) {
      .primerBloqueContenedor1 {
         margin-top: 2rem;
         margin-bottom: 2rem;
      }

      .accordion{
         margin-bottom: 2rem;
      }

      .botonAcordion{
         margin-top: 0.5rem;
         width: fit-content;
         justify-self: self-end;
      }
   }

/* --------------------------------------------------------------------------------- */

/* Segundo Bloque */
   .segundoBloqueContenedor1 {
    padding: 2rem;
    align-self: center;
   }

   .segundoBloqueContenedor2 {
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
   }

   .segundoBloqueContenedor2 hr{
    width: 30rem;
   }    

   /* Media Query */
   @media screen and (max-width: 767px) {
      .segundoBloqueContenedor2 h1, h3 {
      text-align: center;
      }

      .segundoBloqueContenedor2 hr{
         margin: auto;
         width: 0rem;
      }

      .segundoBloqueContenedor2{
         padding-top: 0;
      }
   }

   @media screen and (max-width: 991px) {
      .segundoBloqueContenedor2 hr{
         width: 0;
      }

      .segundoBloqueContenedor2 p{
         margin-top: 2rem;
      }
   }

/* --------------------------------------------------------------------------------- */

/* Tercer Bloque */
   .parrafoTestimonial {
      margin-top: 3rem;
      margin-bottom: 0.5rem;
      text-align: center;
   }

   .tercerBloque hr {
      width: 20rem;
      margin-bottom: 3rem;
      margin: auto;
   }

   .nombreTestimonio {
      text-align: right;
   }

   .carousel-control-prev,
   .carousel-control-next { /* Estilos generales para los botones del carousel */
      display: block; /* Mostrar los botones por defecto */
   }

   /* Media Query */
   @media screen and (max-width: 991px) {

      .carousel-control-prev,
      .carousel-control-next {
         display: none;
      }

      .tercerBloque hr {
         width: 0;
      }
   }

/* --------------------------------------------------------------------------------- */

/* Modal Pop Up */
   .popUpMasterClass {
      background-image: url('../multimedia/index/Imagn\ 1\ \(Opacidad\ 30\).png');
      background-size: cover;
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      border-radius: 30px;
      border: none;
   }

   .popUpCursos {
      background-image: url('../multimedia/index/Buda\ 4\ Modificado.png');
      background-size: cover;
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      border-radius: 30px;
      border: none;
   }

   .modal-dialog{
      max-width: 37.5rem;
   }

   .modal-header{
      border: none;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
   }

   .modal-header h2 {
      font-weight: 600;
   }

   .modal-body{
      padding: 0%;
   }

   .modal-body h5 {
      line-height: 1.5;
      padding-top: 1rem;
      padding-bottom: 1.2rem;
      margin: 0;
   }

   .modal-body h6 {
      line-height: 1.6;
      padding-bottom: 1.2rem;
      margin: 0;
   }

   .modal-footer{
      justify-content: flex-start;
      padding: 0%;
      border: none;
   }
   
   .modal-content .modal-footer button {
      padding-left: 1rem;
      padding-right: 1rem;
   }

   /* Media Query */
   @media screen and (max-width: 767px) { 
      .popUpMasterClass{
         background-size: auto;
         padding-left: 1rem;
         padding-right: 1rem;
         padding-top: 2rem;
         padding-bottom: 1.5rem;
      }

      .popUpCursos{
         background-size: auto;
         padding-left: 1rem;
         padding-right: 1rem;
         padding-top: 2rem;
         padding-bottom: 1.5rem;
      }

      .modal-dialog{
         max-width: 24.37rem;
      }

      .modal-footer{
         justify-content: flex-end;
      }
   }

/* --------------------------------------------------------------------------------- */