/* Primer Bloque */
   .primerBloque {
    min-height: 400px;
    align-items: center;
    display: grid;
   }

   .primerBloqueContenedor1 {
    align-self: center;
    text-align: center;
   }

   /* La caja de cada texto Acordión */
   .accordion-item{
    border: none;
   }

   /* Caja de cada título del acordión al no estar colapsada */
   .accordion-button:not(.collapsed){
    color: #606060; /* Color gris oscuro al 100% */
    background-color: #e6e6e6; /* Color gris claro al 50% */
    font-weight: 500;
   }

   /* Caja de cada título del acordión luego de haberla colapsado de nuevo */
   .accordion-button:focus{
    box-shadow: none;
   }

   .acordionLinea{
    margin: auto;
    opacity: 0.2;
    width: 100%;
    margin-left: 0%;
   }

   /* Botón + Info */
   .botonAcordion{
      border: none;
   }

   .botonAcordion a{
      text-decoration: none;
      color: inherit;
   }

   /* Media query para pantallas de tablet y celular */
   @media screen and (max-width: 991px) {
      .primerBloqueContenedor1 {
         margin-top: 2rem;
         margin-bottom: 2rem;
      }

      .accordion{
         margin-bottom: 2rem;
      }

      .botonAcordion{
         margin-top: 0.5rem;
         width: fit-content;
         justify-self: self-end;
      }
   }

/* --------------------------------------------------------------------------------- */

/* Segundo Bloque */
   .segundoBloqueContenedor1 {
    padding: 2rem;
    align-self: center;
   }

   .segundoBloqueContenedor2 {
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
   }

   .lineaDivisoriaSegundoBloque{
    color: #606060; /* Gris oscuro al 100% */
    max-width: 35vw;
   }    

   /* Media query para pantallas de tablet y celular */
   @media screen and (max-width: 767px) {
      .segundoBloqueContenedor2 h1, h3 {
      text-align: center;
      }

      .segundoBloqueContenedor2 hr{
         margin: 0 auto;
         width: 50%;
      }

      .segundoBloqueContenedor2{
         padding-top: 0;
      }
   }

   @media screen and (max-width: 991px) {
      .segundoBloqueContenedor2 hr{
         width: 60%;
      }

      .segundoBloqueContenedor2 p{
         margin-top: 2rem;
      }
   }

/* --------------------------------------------------------------------------------- */

/* Tercer Bloque */
   .parrafoTestimonial{
    margin-bottom: 0.5rem;
    text-align: center;
   }

   .lineaDivisoriaTestimonial{
    color: #606060; /* Gris oscuro al 100% */
    width: 20%;
    display: inline-block;
    margin-bottom: 3rem;
   }

   .nombreTestimonio{
    text-align: right;
   }

   /* Estilos generales para los botones del carousel */
   .carousel-control-prev,
   .carousel-control-next {
   display: block; /* Mostrar los botones por defecto */
   }

   /* Ocultar los botones en pantallas de hasta 991px de ancho */
   @media screen and (max-width: 991px) {
      .carousel-control-prev,
      .carousel-control-next {
         display: none;
      }

      .lineaDivisoriaTestimonial{
         width: 50%;
      }      
   }

/* --------------------------------------------------------------------------------- */

.custom-popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-image: url('../multimedia/index/Buda\ 5\ Modificado.png');
   background-size: cover;
   padding: 30px;
   max-width: 600px;
   width: 100%;
   text-align: start;
   border-radius: 30px;
   border: none;
}

/* Estilos para los colores específicos */
   .custom-popup h2 {
      font-weight: 600;
      padding-bottom: 1rem;
   }

   .custom-popup-subtitulo {
      padding-bottom: 1rem;
      line-height: 1.5;
   }

   .custom-popup-texto {
      padding-bottom: 1rem;
      line-height: 1.5;
   }

   .custom-popup button {
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 5px;
      width: 30%;
   }

   /* Media query para pantallas de tablet y celular */
   @media screen and (max-width: 767px) { 
      .custom-popup button{
         width: 50%;
      }

      .custom-popup{
         max-width: 390px;
         background-size: auto;
      }
   }

/* --------------------------------------------------------------------------------- */