/* Primer Bloque */
  .primerBloque {
    padding: 2rem;
  }

  .primerBloque h3 {
    text-align: center;
  }

  .primerBloque hr {
    margin: auto;
    width: 10%;
    margin-bottom: 2rem;
  }

  .primerBloqueImagen {
    align-self: center;
    text-align: center;
  }

  .texto {
    height: 100%;
    overflow-y: auto;
    height: 50vh;
    align-self: center;
  }

  .botonAdquirir {
    position: relative;
  }

  .botonAdquirir a {
    position: absolute;
    bottom: 0;
    margin: 1rem;
  }

  @media (max-width: 991px) {
    .texto {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    .primerBloque hr{
      width: 30%;
    }
  }

  @media (max-width: 767px){
    .primerBloque hr{
      width: 45%;
    }
  }

/* --------------------------------------------------------------------------------- */

/* Segundo Bloque */
  .segundoBloque {
    padding: 2rem;
  }

/* --------------------------------------------------------------------------------- */

/* Modificación ScrollBar */
  .texto::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .texto::-webkit-scrollbar:vertical {
    width: 6px;
  }

  .texto::-webkit-scrollbar-button:increment,
  .texto::-webkit-scrollbar-button {
    display: none;
  }

  .texto::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  .texto::-webkit-scrollbar-thumb {
    background-color: #c9c9c9; /* Gris Oscuro al 30% */
    border-radius: 20px;
    border: none;
  }

  .texto::-webkit-scrollbar-track {
    border-radius: 10px;
  }

/* --------------------------------------------------------------------------------- */

/* Animaciones */
  .animate__pulse {
    animation-iteration-count: infinite; /* Repetición infinita */
  }

  @media screen and (max-width: 991px) {
    .animate__animated.animate__pulse {
      position: static; /* Vuelve a posición estática para que el botón esté debajo de la imagen */
      margin: 20px auto; /* Ajusta el margen superior e inferior para centrar el botón */
      display: block; /* Hace que el botón ocupe todo el ancho del contenedor */
    }
  }

/* --------------------------------------------------------------------------------- */