  .contenidoComun {
    padding: 2rem;
  }

  .centrarTexto {
    text-align: center;
  }

  .contenidoComun p {
    padding-top: 2rem;
  }

  .ratio{
    width: 41.66666667%;
  }

  .subtituloVideos {
    font-weight: 400;
  }

  .bloquesVideosTexto {
    align-self: center;
  }

  .hr1 {
    margin: auto;
    width: 20%;
    margin-bottom: 5rem;
  }

  .hr2 {
    margin: auto;
    width: 40%;
    margin-bottom: 5rem;
  }

  .hr3 {
    width: 40%;
    margin: auto;
  }

  /* --------------------------------------------------------------------------------- */

/* Carrousel */
  .carousel-container {
    position: relative;
  }

  .carousel-caption-item {
    display: none;
    padding-top: 1rem;
  }

  .carousel-caption-item.active {
    display: block;
  }

/* --------------------------------------------------------------------------------- */

/* Media Query */
  @media (max-width: 991px) {
    .bloquesVideosTexto {
      padding-bottom: 2rem;
    }

    .hr1{
      width: 40%;
    }

    .hr2{
      width: 80%;
    }

    .hr3{
      width: 65%;
    }

    .ratio{
      width: 100%;
    }
  }

  @media (max-width: 767px){
    .hr1{
      width: 80%;
    }
  }

  /* --------------------------------------------------------------------------------- */