/* Primer Bloque */
  .container h1{
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .container td{
    color: #606060;
  }

  .container option{
    color: #606060;
  }

  .container select{
    color: #606060;
  }

  .centrarTexto {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5%;
  }

/* Estilo personalizado para el borde de enfoque */
  .form-select:focus {
    outline: none;
    border: none; /* Cambia el color y grosor del borde */
    box-shadow: 0 0 8px rgba(97, 126, 172, 0.5); /* Borde difuminado */
    }

/* --------------------------------------------------------------------------------- */
  
/* Tabla */
  #praxistas-table{
    margin-top: 2em;
    margin-bottom: 3em;
  }

  th {
    background-color: #7f96ba !important;
    color: #f4f4f4 !important;
  }

  .table tbody tr{
    --bs-table-bg: #f4f4f4;
  }

  .dt-search{
    display:none;
  }

  td a{
    text-decoration: none;  
  }

  td .bi{
    color: #606060;
    font-size:25px;
  }

  td .bi.bi-instagram{
    color:#E1306C;
  }

  td .bi.bi-facebook{
    color:#4267B2;
  }

  td .bi.bi-whatsapp{
    color:#25D366;
  }

/* --------------------------------------------------------------------------------- */

/* Mantener Footer Abajo */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1; /* Ocupa el espacio restante entre el header y el footer */
  }

/* --------------------------------------------------------------------------------- */

/* Media Query */
  @media (max-width: 768px) { /* Tablets y dispositivos m치s peque침os */
    .centrarTexto {
      font-size: 10px; /* Tama침o del texto para tablets y m칩viles */
      text-align: center; /* Asegura que el texto sigue centrado */
      margin-bottom: 5%; /* Respeta el mismo margen */
    }
  }