/* Primer Bloque */
.primerBloque {
 background-color: #f4f4f4;
 padding-bottom: 2rem;
}

.primerBloque h3 {
 margin-top: 2rem;
 color: #617eab; /* Color azul al 100% */
 font-weight: 500;
 text-align: center;
}

.primerBloque hr {
 margin: auto;
 color: #606060; /* Color gris oscuro al 100% */
 width: 20%;
 margin-bottom: 2rem;
}

.primerBloque p {
 color: #606060; /* Color gris oscuro al 100% */
 padding-right: 2rem;
}

.primerBloqueColumna2 {
 background-color: #e6e6e6; /* Color gris claro al 50% */
}

.circle-image {
 border: 2px solid #c9c9c9; /* Gris Oscuro al 30% */
 border-radius: 50%;
 max-width: 400px;
 max-height: 400px;
 width: auto;
 height: auto;
}

.imagen{
 display: flex;
 justify-content: center; /* Alinea horizontalmente */
 align-items: center; /* Alinea verticalmente */
}

 /* Ajuste para tablet y celular */
 @media screen and (max-width: 991px) {
  .circle-image{
   max-width: 350px;
   max-height: 350px;
  }

  .primerBloque p{
   margin-top: 3rem;
   padding-right: 1rem;
   padding-left: 1rem;
   max-height: 600px; /* Ajusta esta altura máxima según tus preferencias */
   overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura máxima */
  }

  .primerBloque hr{
    width: 40%;
  }
}

@media screen and (max-width: 767px){
  .primerBloque hr{
    width: 60%;
  }
}

/* --------------------------------------------------------------------------------- */